@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Esta app fue creada como parte de un proyecto personal, por lo que no se recopila ningun tipo de información de los usuarios que accedan a la misma..</p>
